

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




.progress {
	height: 20px;
}

.progress-label {
    float: left;
    margin-right: 1em;
    top: -10px;
        position: relative;
}


.barra-progreso {
    overflow: hidden;
}

.nav-tabs li.active {
    background: rgba(221, 221, 221, 0.44);
}


.imagen-tab {
    text-align: center;
}

img.icono-tab {
    width: 30px;
}



p.respuesta {
    font-weight: bold;
}

td.estado {
    text-align: center;
}

.estado i.material-icons {
    font-size: 30px;
}


.nav-tabs i {
        display: block;
    text-align: center;
    font-size: 30px;
}


.jumbotron {
    padding-bottom: 0px;
    margin-bottom: 0px;
}


hr {
    background: #333;
}

.estado i.material-icons {
  display: block;
}

.navbar.navbar-warning {
    background-color: #f47a2f;
    color: rgba(255,255,255, 0.84);
}

footer .atribucion p {
  margin: 0px;
    text-align: right;
}

footer {
    border-top: solid 1px #333;
    padding-top: 10px;
    margin-top: 20px;
}


.interna .nav-tabs {
    background: #FFFFFF;
}

.interna  .panel.panel-danger > .panel-heading h1 {
    color: white;
    font-weight: 800;
    text-shadow: 1px 1px 1px black;
}

.interna  .panel-heading .fb_iframe_widget {
    display: inline-block;
    position: relative;
    top: -5px;
    margin-right: 14px;
}

.interna  .responsable {
    border: solid 1px #ddd;
    overflow: hidden;
    padding: 10px 0px;
    min-height: 150px;
    margin-bottom: 15px;
    text-align: center;
}

.interna .panel-body .contenido img {
max-width: 100%;
height: auto !important;
}

.ref h5 {
    font-size: 9px;
    margin: 4px;
    text-align: center;
}

.col-md-3.ref {
    height: 15px;
        margin-bottom: 20px;
    /* font-size: 13px; */
}


label.control-label {
    font-size: 16px;
    line-height: 1.07142857;
    color: #8E2330;
    font-weight: 800;
    margin: 16px 0 0 0;
}

select#select111 {
    top: 16px;
    
    font-weight: 800;
    position: relative;
    height: 50px;
    background: #F47A2F;
    color: white;
    border: solid 1px #ddd;
}


select#selectanio {
    top: 16px;
    
    font-weight: 800;
    position: relative;
    height: 50px;
    background: #F47A2F;
    color: white;
    border: solid 1px #ddd;
}




@media (max-device-width: 700px) {

 .interna .panel.panel-danger > .panel-heading {
    background: url("/media/imagen");
    height: 250px;
    padding: 20px 0px 0px 20px;
    background-size: cover;
}

footer .atribucion p {
    text-align: center;
}

footer .proyectoAque p {
    text-align: center;
}


  }

/*
 * CSS Animations
 * Don't forget to add vendor prefixes!
 */
.m-scene .scene_element {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.m-scene .scene_element--fadein {
  animation-name: fadeIn;
}

.m-scene.is-exiting .scene_element {
  animation-direction: alternate-reverse;
}

/*
 * Keyframes
 */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}






