


{% extends "base.html" %}
{% load staticfiles %}

{% block meta-tags%}
	<meta property="og:url"           content="http://monitoreo.aquieneselegimos.org.py/articulos/{{articulo.link}}" />
	<meta property="og:type"          content="article" />
	<meta property="og:title"         content="Monitorieo - {{articulo.titulo|striptags}}" />
	<meta property="og:description"   content="{{articulo.contenido|truncatechars:255}}" />
	<meta property="og:image"         content="{{pregunta.eje.imagen_destacada.url}}" />
	<meta property="og:author"         content="https://www.facebook.com/aquieneselegimos/" />



{% endblock %}

{% block bodybegin %}

     	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=415575505224647";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}
{% block content%}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=415575505224647";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<style type="text/css">

.interna  .panel-heading {

background: url("{{pregunta.eje.imagen}}");

}

.interna  .panel.panel-danger > .panel-heading {
  background: url("{{pregunta.eje.imagen_destacada.url}}");
  height: 250px;
    padding: 153px 0px 0px 40px;
    background-size: cover;
}



</style>
   
    <div class="container interna">

    <div class="row">

		<div class="col-md-12">
				<div class="panel panel-danger">			


					<h1 style='padding: 37px 17px;padding-bottom: 0px;'>Acerca de </h1>
				 	<div class="panel-body">
				    
				 			<div class="contenido">
				     
				     		 		<p>El Centro de Informaci&oacute;n y Recursos para el Desarrollo (CIRD) es una organizaci&oacute;n fundada en el a&ntilde;o 1988 con el fin de apoyar a las organizaciones de la sociedad civil (comisiones vecinales, ONGs, asociaciones ciudadanas, empresas, fundaciones, etc), de manera a que se conviertan en protagonistas del desarrollo del pa&iacute;s, promoviendo la responsabilidad social y la capacidad de incidir efectivamente en el proceso de toma de decisi&oacute;n p&uacute;blica.</p>

<p>&nbsp;El CIRD ha logrado un alto nivel de efectividad en la implementaci&oacute;n de sus programas a trav&eacute;s de la mezcla de tres elementos: informaci&oacute;n veraz y oportunda; recursos humanos especializados; y capacidad &aacute;gil y transparente de gesti&oacute;n de proyectos.</p>

<p>&nbsp;Adem&aacute;s, en su existencia el CIRD ha gerenciado diversos proyectos de apoyo a instituciones p&uacute;blicas (como el Poder Legislativo, el Ministerio de Industria y Comercio, Salud P&uacute;blica y Bienestar Social, Educaci&oacute;n y Culto, diversas Municipalidades y Gobernaciones) concentrando esfuerzos en acciones que apunten a propiciar la participaci&oacute;n de la sociedad civil en el dise&ntilde;o, implementaci&oacute;n y evaluaci&oacute;n de pol&iacute;ticas p&uacute;blicas de forma a promover un cambio positivo y sostenido del pa&iacute;s.</p>

<p><em><strong>Misi&oacute;n</strong></em>.</p>

<p>Promover la construcci&oacute;n de capital social para incrementar el impacto y la sostenibilidad de los programas de desarrollo, a trav&eacute;s de la construcci&oacute;n de capacidades y competencias, y la articulaci&oacute;n de las organizaciones de la sociedad civil, el sector privado y el sector gubernamental.</p>

<p><em><strong>Visi&oacute;n.</strong></em></p>

<p>Ser la principal organizaci&oacute;n promotora de l&iacute;deres, organizaciones y comunidades que fortalezcan el capital social como herramienta de desarrollo, en el Paraguay en los pr&oacute;ximos tres a&ntilde;os, y de la regi&oacute;n del Mercosur en los pr&oacute;ximos 10 a&ntilde;os.</p>

<p><em><strong>Fines de la Fundaci&oacute;n.</strong></em></p>

<ul>
	<li>
	<p>Promover y facilitar la iniciativa de la sociedad civil</p>
	</li>
	<li>
	<p>Movilizar y administrar recursos e informaci&oacute;n de forma oportuna y eficiente.</p>
	</li>
	<li>
	<p>Desarrollar mecanismos de cooperaci&oacute;n entre individuos, instituciones y organizaciones, nacionales e internacionales.</p>
	</li>
	<li>
	<p>Contribuir al progreso econ&oacute;mico y social del Paraguay con equidad y justicia social.</p>
	</li>
</ul>

<p><em><strong>Principios.</strong></em></p>

<ul>
	<li>
	<p>&Eacute;tica</p>
	</li>
	<li>
	<p>Transparencia</p>
	</li>
	<li>
	<p>Solidaridad</p>
	</li>
	<li>
	<p>Diversidad</p>
	</li>
	<li>
	<p>Autonom&iacute;a</p>
	</li>
	<li>
	<p>Eficiencia</p>
	</li>
	<li>
	<p>Equidad</p>
	</li>
</ul>


<h3>&Aacute;reas de acci&oacute;n.</h3> 

<p><em><strong>Fortalecimiento de la sociedad civil.</strong></em></p>


<p>Movilizar recursos y transferir informaci&oacute;n, &uacute;til y oportuna hacia la ciudadan&iacute;a y las organizaciones de la sociedad civil, promoviendo en ellas la responsabilidad social y la capacidad de incidir efectivamente en el proceso de toma de decisiones p&uacute;blicas.</p>

<p><em><strong>Reforma del sector salud.</strong></em></p>

<p>Desarrollar iniciativas locales que buscan estructurar nuevas formas de organizaci&oacute;n, gesti&oacute;n y relacionamiento entre la sociedad civil, autoridades sanitarias y gobiernos subnacionales.</p>

<p><em><strong>Desarrollo juvenil.</strong></em></p>

<p>Incrementar la participaci&oacute;n efectiva del joven en la construcci&oacute;n de su futuro y en el de su comunidad.</p>

<p><em><strong>Cultura pol&iacute;tica y gobernabilidad.</strong></em></p>

<p>Promover el di&aacute;logo y el debate entre la sociedad civil y los sectores pol&iacute;ticos y p&uacute;blicos mediante la medici&oacute;n y difusi&oacute;n del proceso de cultura pol&iacute;tica y gobernabilidad democr&aacute;tica en el Paraguay.</p>

<p><em><strong>Capital social.</strong></em></p>

<p>Incrementar el poder social y el desarrollo sostenible mediante la promoci&oacute;n de la confianza y reciprocidad social, asegurando la capacidad de negociaci&oacute;n y colaboraci&oacute;n entre personas y organizaciones p&uacute;blicas y privadas, nacionales e internacionales.</p>

<p><em><strong>Responsabilidad social.</strong></em></p>

<p>Incentivar el compromiso ciudadano y social en el sector privado y no gubernamental, promoviendo la gesti&oacute;n eficiente y transparente de sus organizaciones y la colaboraci&oacute;n estrat&eacute;gica entre ellas.</p>

<p><em><strong>Contactos.</strong></em></p>

<p>Ruy D&iacute;az de Melgarejo 825 c/ Hernando de Rivera, B&ordm; Los Laureles</p>

<p>C&oacute;digo Postal: 1880</p>

<p>Asunci&oacute;n - Paraguay</p>

<p>Tel/Fax.: + 595 (21) 662063 (R.A.) / 207373 / 662024 / 662044 / 662054.</p>

<p>e-mail: cird@cird.org.py</p>

				     		</div>


				     		 		<hr>

				     		 	
          		

				     		 		
				     		 		


							<div class="fb-comments" data-width="100%"data-href="http://aquieneselegimos.org.py" data-numposts="5"></div>

				  </div>
				</div>

		</div>	


		

    </div>
     </div>


         

      

     

     {% endblock %}