
{% extends "base.html" %}
{% load staticfiles %}
{% load date_filter %}
{% block content%}

<style type="text/css">
.progress .progress-bar.progress-bar-amarillo {
    background-color: #FFE422;
}

.nav-tabs.ejes{
    background: #f47a2f;
}

.nav-tabs.visualizacion{
    background: #9E9E9E;
}


.treemap {
  width: 100%;
  height: 300px;
  background: #ddd;
}

.treemap text {
  pointer-events: none;
}

.treemap .grandparent text {
  font-weight: bold;
}

.treemap rect {
  fill: none;
  stroke: #fff;
}

.treemap rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.treemap .grandparent rect {
  fill: #f47a2f;
}

.treemap .grandparent:hover rect {
  fill: #ee9700;
}

.treemap .children rect.parent,
.treemap .grandparent rect {
  cursor: pointer;
}

.treemap .children rect.parent {
  fill: #bbb;
  fill-opacity: .5;
}

.treemap .children:hover rect.child {
  fill: #bbb;
}


.btn.black{
    background: #2e2e2e !important;
    color: white !important;
}


.btn-granate {

  background: #99113c;color: white !important;

}

.btn.btn-raised.btn-granate,.btn.btn-raised.btn-granate:hover, .btn.btn-raised.btn-granate:focus {
    background: rgba(153, 17, 60, 0.58);
}

#tabla {
  background: white;
}

#tabla_wrapper {
    
}

#tabla thead tr {
    height: 40px;
}

#tabla_wrapper input.form-control.input-sm {
    border-bottom: solid 2px #99113c;
}

#tabla_filter label {
    color: #99113c;
}


.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #f47a2f;
    border-color: #f47a2f;
}

.pagination>li>a, .pagination>li>span {
  color: #f47a2f;
}


</style>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">







    <!-- Main jumbotron for a primary marketing message or call to action -->

      <div class="container intro">

        <div class="col-md-4  wow fadeInUp "  data-wow-duration="1.5s">

            <div class="col-md-12">
                <label for="select111" class="col-md-3 control-label">ELEGI TU CIUDAD</label>
                <div class="col-md-9">
                  <select id="select111" class="">

                  	{% for distrito in lista_distrito %}
                  			<option value="{{distrito.url}}" {% if distrito.url == distrito_principal.url %} selected {% endif%}> {{distrito.nombre}} </option>
                  	{% endfor %}
                    
                    
                  </select>
                </div>
              <span class="material-input"></span>
            </div>

            <div class="col-md-12">
                <label for="selectanio" class="col-md-3 control-label">Año de control</label>

                <div class="col-md-9">
                  <select id="selectanio" class="">

                     {%  if presupuestos_anios %}

                     {% for presupuesto in presupuestos_anios %}

                   
                       <option value="{{ presupuesto.anio }}" > {{  presupuesto.anio}} </option>

                             {%  endfor %}
                           {%  else  %}
                                <option value="2016" > 2016</option>
                                 <option value="2017" > 2017</option>  


                         {%  endif  %}
                  </select>
                </div>
              <span class="material-input"></span>
            </div>

            <div class="col-md-12">
               <!-- <a href="javascript:void(0)" class="btn btn-raised btn-sm" style="background: #99113c;color: white; ">Ver hitorial Presupuesto y Ejecucion</a> -->
            </div>

        </div> 


      
        <div class="col-md-8">
          <div class="col-md-4 wow fadeInUp" data-wow-duration="1.5s">           
              <img src="http://www.aquieneselegimos.org.py/images/logo.png" class="img-responsive">
          </div>
          <div class="col-md-8  wow fadeInUp" data-wow-duration="1.1s"> 
             <h1  id="titulo" class="">Monitoreo Municipal</h1>
            <p>Línea de Base monitoreadas por la Sociedad Civil</p>
            <h2> <b> {{distrito_principal.dias_poder}}/{{distrito_principal.porcentaje_dias}} días</b> de Gestión</h2>
          </div>
        </div> 

        <div class="row">
                <div class="col-md-12  wow fadeInUp"  data-wow-duration="1.1s">
                
              {% if presupuestos   %}
                  <h2 class="main-title">Gastos y Presupuestos Municipales</h2>

                        {% for presupuesto in presupuestos %}
                              {% if presupuesto.tipo_presupuesto == "ingresos" %}
                                     <button class="btn btn-sm btn-granate ingresos vis-boton" data-archivo="{{presupuesto.documento_csv.url}}" data-pdf="{% if presupuesto.document_pdf%}{{presupuesto.document_pdf.url}}{% endif %}"> Ingresos</button>
                              {% endif %}
                              
                              {% if presupuesto.tipo_presupuesto == "por_rubro" %}
                                    <button class="btn btn-sm  btn-granate rubro vis-boton " data-archivo="{{presupuesto.documento_csv.url}}" data-pdf="{% if presupuesto.document_pdf%}{{presupuesto.document_pdf.url}}{% endif %}"> Presupuesto por Rubro</button>
                              {% endif %}
                              


                              {% if presupuesto.tipo_presupuesto == "por_programa" %}
                                   <button class="btn btn-sm btn-granate programa vis-boton"  data-archivo="{{presupuesto.documento_csv.url}}" data-pdf="{% if presupuesto.document_pdf%}{{presupuesto.document_pdf.url}}{% endif %}"> Presupuesto por Programa</button>
                              {% endif %}
                        {% endfor %}

               
                   

                      <div class="row">
                          <div class="col-md-12">
                                     <div class="treemap"  id="treemap"></div>
                          </div>

                      </div>
           
                
                  
                  <a href="" class="download"> <button class="btn btn-sm black " > Descargar Datos</button></a>
                  <a href="" class="download-pdf"> <button class="btn btn-sm black " > Descargar Reporte Oficial</button></a>

                     <div class="row">

                      <div class="col-md-12">
                      <a  class="ver-datos "> <button class="btn btn-sm black " > Ver Datos</button></a>
                      <a  class="ocultar-datos hide "> <button class="btn btn-sm black " > Ocultar Datos</button></a>
                       <table id="tabla" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
                    </div> 

                  </div>

              {% endif %}

            
   
</table>
                




                </div>  
        </div>

    </div>
 

    <div class="container">
      <div class="row">
      <div class="col-md-12">

       {% if lista_eje %}
        <h2 class="main-title">Monitoreo Municipal</h2>
          <a href="javascript:void(0)" class="btn btn-raised btn-sm black toggle-logrado">Mostrar No Logrados</a>
            <a href="javascript:void(0)" class="btn btn-raised btn-sm black toggle-nologrado">Mostar Logrados</a>

			    <ul class="nav nav-tabs ejes nav-justified">
			    {% for eje in lista_eje  %}
			        <li {% if forloop.first %} class="active" {% endif %} >

			           <a href="#{{ eje.id }}" data-toggle="tab">
			              <div class="imagen-tab"><img class="icono-tab"src="{{eje.imagen.url}}"></div> 
			              {{eje.nombre}} 
						      </a>
			        </li>
			    {% endfor %}
			    </ul>
			{% endif %}

          <div id="myTabContent" class="tab-content">


            

          	{% if lista_eje %}

          	{% for eje in lista_eje  %}
          		
          				
          						<div class="tab-pane fade {% if forloop.first %} active in {% endif %} " id="{{eje.id}}">
          								<table class="table table-striped table-hover ">
                           
                                          <thead>
	                                          <tr>
	                                        
	                                            <th>Pregunta</th>
	                                            <th >Logrado?</th>
	                                           
	                                          </tr>
                                          </thead>
                                          <tbody>
                                    {% for pregunta in lista_pregunta %}

                                         {% if pregunta.eje == eje %}

                                          <tr 

                                            {% if pregunta.estado == "Aprobado" %}
                                                      class="success {{ pregunta.anio| date:'Y'}}"
                                                  {% elif pregunta.estado == "No aprobado" %}
                                                      class="danger {{ pregunta.anio| date:'Y'}}"
                                                  {% else %}
                                                      remove
                                                  {% endif %}



                                          >
                                          <!--  <td>{{forloop.counter }}</td> -->
                                            <td> <p><b>{{pregunta.pregunta | capfirst}}</b> </p>
                                            	<p> {{pregunta.respuesta |safe }} </p>
                                              
                                            </td>
                                           

                                              <td class="estado">

                                              <i class="material-icons">
                                                  {% if pregunta.estado == "Aprobado" %}
                                                      done
                                                  {% elif pregunta.estado == "No aprobado" %}
                                                      clear
                                                  {% else %}
                                                      remove
                                                  {% endif %}
                                              </i>

                                               {% if pregunta.articulos.all  %}

                                                {% for articulo in pregunta.articulos.all %}
                                                         <a href="/articulo/{{ articulo.link }}/" class="btn btn-raised btn-primary btn-xs"> Ver Detalles 
                                                 
                                              </a>
                                                  {% endfor %}
                                             
                                              {% endif %}
                                            </td>

                                            
                                          </tr>
                                           {% endif %}

    
                                          {% endfor %}
                                         
                                         
                                          </tbody>
                                        </table>
          						</div>


          				

          		
          	{% endfor %}
          	{% endif %}

           
            
          </div>

          </div>
      </div>  

      <hr>
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-8">

          {{config.QUIENES_SOMOS_PORTADA |safe}}

         
        </div>
       
        <div class="col-md-4">

          {{config.QUIEN_NOS_AYUDA |safe}}
          
        
        </div>
      </div>


{% endblock %}




    {% block footer %}
<script type="text/javascript" charset="utf8" src="{% static 'js/jquery.csv.min.js' %}"></script>
  
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>



                        {% for presupuesto in presupuestos %}
                              {% if presupuesto.tipo_presupuesto == "ingresos" %}

                              <script type="text/javascript" src="{% if presupuesto.document_pdf%}{{presupuesto.document_pdf.url}}{% endif %}"></script>
                                    
                              {% endif %}
                              
                              {% if presupuesto.tipo_presupuesto == "por_rubro" %}
                              <script type="text/javascript" src="{{presupuesto.documento_csv.url}}" data-pdf="{% if presupuesto.document_pdf%}{{presupuesto.document_pdf.url}}{% endif %}"></script>
                                  
                              {% endif %}
                              


                              {% if presupuesto.tipo_presupuesto == "por_programa" %}

                              <script type="text/javascript" src="{{presupuesto.documento_csv.url}}" data-pdf="{% if presupuesto.document_pdf%}{{presupuesto.document_pdf.url}}{% endif %}"></script>
                                   
                              {% endif %}
                        {% endfor %}





       <script src="{% static 'js/underscore.min.js' %}"></script>
     <script src="{% static 'js/d3.min.js' %}"></script>


    <!--- El Purete treemap2-->

<script type="text/javascript">


$( "#sel2" ).change(function(){
      $("#treemap .depth").remove();
      Treemap($('#sel2 option:selected').text());  
      $(".rubro").click( function(){
         }  )   
});


    

</script>

<script type="text/javascript">


/**
 * Number.prototype.format(n, x, s, c)
 * 
 * @param integer n: length of decimal
 * @param integer x: length of whole part
 * @param mixed   s: sections delimiter
 * @param mixed   c: decimal delimiter
 */
Number.prototype.format = function(n, x, s, c) {
    var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\D' : '$') + ')',
        num = this.toFixed(Math.max(0, ~~n));

    return (c ? num.replace('.', c) : num).replace(new RegExp(re, 'g'), '$&' + (s || ','));
};


</script>



<script src="{% static 'js/treemap-programa.js' %}"></script>

 <script type="text/javascript">

anio = {{anio}};


$( document ).ready(function() {


function dibujarTabla (argument) {

console.log($('#tabla'));
$.get( archivo_csv, function( data ) {
            dataSet= $.csv.toObjects(data);
             if ('nivel4' in historic_csv_data[0]) {
              columnas = [
                      { data: "nivel1" , title: "nivel1" },
                      { data: "nivel2" , title: "nivel2" },
                     { data: "nivel3" , title: "nivel3" },
                      { data: "nivel4" , title: "nivel4" },
                       { data: "monto"  , title: "monto",  render: function ( data, type, full, meta ) {
                        return Number(data).format(0, 3, '.', ',');
                      }}                        
                  ]          
             }
             else if ('nivel3' in historic_csv_data[0]) {
              columnas = [
                      { data: "nivel1" , title: "nivel1" },
                      { data: "nivel2" , title: "nivel2" },
                     { data: "nivel3" , title: "nivel3" },
                    
                       { data: "monto"  , title: "monto",  render: function ( data, type, full, meta ) {
                        return Number(data).format(0, 3, '.', ',');
                      }}                        
                  ]          
             }
             else if ('nivel2' in historic_csv_data[0]) {
              columnas = [
                      { data: "nivel1" , title: "nivel1" },
                      { data: "nivel2" , title: "nivel2" },
                    
                      { data: "monto"  , title: "monto",  render: function ( data, type, full, meta ) {
                        return Number(data).format(0, 3, '.', ',');
                      }}                      
                  ]          
             }
            //console.log(dataSet);          
             dataTabla = $('#tabla').DataTable( {
                  data: dataSet,

                    "lengthChange": false,
                    "language": {
                                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                        },

                  columns: columnas                  
              } );

              $("#tabla_wrapper").addClass("hide");
            
          });  
     
  // body...
}




$(".vis-boton").click(function(){
   
    $("#treemap").html("");
    $(".btn-granate").removeClass("btn-raised");
    $(this).addClass("btn-raised");
    archivo_csv = $(this).data("archivo");
    archivo_pdf =$(this).data("pdf");
    Treemap2(anio, archivo_csv , "#treemap");   

    $(".download").attr("href", archivo_csv);
    $(".download-pdf").attr("href", archivo_pdf);



  
    $(".ver-datos").removeClass("hide");
    $(".ocultar-datos").addClass("hide");
    dataTabla.destroy();
      $("#tabla").html("");

    

   
  });

$(".vis-boton").first().addClass("btn-raised");
archivo_csv = $(".vis-boton").first().data("archivo");
Treemap2(anio,archivo_csv, "#treemap");  
$(".download").attr("href", $(".vis-boton").first().data("archivo"))
$(".download-pdf").attr("href", $(".vis-boton").first().data("pdf"))

/*
dibujarTabla();

 $("#tabla_wrapper").addClass("hide");*/

           // $( "#tabla" ).html( data );


    
      

 $(".ver-datos").click(function  () {

            dibujarTabla();

            $("#tabla_wrapper").toggleClass("hide");
           // $("#treemap").toggleClass("hide");
            $(".ver-datos").toggleClass("hide");
            $(".ocultar-datos").toggleClass("hide");

             $("#tabla").removeClass("hide");

           // dibujarTabla()
            
   
 }) // click 

 $(".ocultar-datos").click(function(){
   // $("#treemap").toggleClass("hide");
    
      $(".ver-datos").toggleClass("hide");
      $(".ocultar-datos").toggleClass("hide");

            dataTabla.destroy();
            $("#tabla_wrapper").toggleClass("hide");
            $("#tabla").html("");
             $("#tabla").toggleClass("hide");
 })




});// END CONSOLE READY



 </script>




      {% endblock %}