
{% extends "base.html" %}
{% load staticfiles %}
{% load date_filter %}
{% block content%}

<style type="text/css">
.progress .progress-bar.progress-bar-amarillo {
    background-color: #FFE422;
}

.nav-tabs.ejes{
    background: #f47a2f;
}

.nav-tabs.visualizacion{
    background: #9E9E9E;
}


.treemap {
  width: 100%;
  height: 300px;
  background: #ddd;
}

.treemap text {
  pointer-events: none;
}

.treemap .grandparent text {
  font-weight: bold;
}

.treemap rect {
  fill: none;
  stroke: #fff;
}

.treemap rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.treemap .grandparent rect {
  fill: #f47a2f;
}

.treemap .grandparent:hover rect {
  fill: #ee9700;
}

.treemap .children rect.parent,
.treemap .grandparent rect {
  cursor: pointer;
}

.treemap .children rect.parent {
  fill: #bbb;
  fill-opacity: .5;
}

.treemap .children:hover rect.child {
  fill: #bbb;
}

</style>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">

        <div class="col-md-4">
            <img src="http://www.aquieneselegimos.org.py/images/logo.png">
           <!-- <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Asuncion
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Fernando de la Mora</a></li>
                <li><a href="#">Lambare</a></li>
                <li><a href="#">Luque</a></li>
              </ul>
            </div> -->

            <div class="col-md-12">
                <label for="select111" class="col-md-2 control-label">ELEGI TU CIUDAD</label>

                <div class="col-md-10">
                  <select id="select111" class="">

                  	{% for distrito in lista_distrito %}
                  			<option value="{{distrito.url}}" {% if distrito.url == distrito_principal.url %} selected {% endif%}> {{distrito.nombre}} </option>
                  	{% endfor %}
                    
                    
                  </select>
                </div>
              <span class="material-input"></span>
            </div>

            <div class="col-md-12">
                <label for="selectanio" class="col-md-2 control-label">Año de control</label>

                <div class="col-md-10">
                  <select id="selectanio" class="">

                        <option value="2018" > 2015 </option>
                        <option value="2016" > 2016 </option>
                        <option value="2017" > 2017 </option>
                        
            
                    
                    
                  </select>
                </div>
              <span class="material-input"></span>
            </div>

            <div class="col-md-12">
               <!-- <a href="javascript:void(0)" class="btn btn-raised btn-sm" style="background: #99113c;color: white; ">Ver hitorial Presupuesto y Ejecucion</a> -->
            </div>

        </div> 


       
        <div class="col-md-8">
            <h1  id="titulo" class="">Monitoreo Municipal</h1>
            <p>Línea de Base monitoreadas por la Sociedad Civil</p>
            <h2> <b> {{distrito_principal.dias_poder}}/{{distrito_principal.porcentaje_dias}} días</b> de Gestión</h2>
            <h5></h5>
            <br>


       {% if anio == "2017" %}
<button class="btn btn-sm programa active"  style="background: #99113c;color: white; "> Estimativos de Programa</button>
<button class="btn btn-sm funcion" style="background: #99113c;color: white; "> Presupuesto por funcion</button>
<button class="btn btn-sm rubro" style="background: #99113c;color: white; "> Presupuesto por Rubro</button>


<div class="treemap" id="treemap"></div>




        </div> 

        {% endif %}
      </div>
    </div>

    <div class="container">
      <div class="row">
      <div class="col-md-12">


      {% if lista_eje %}
			    <ul class="nav nav-tabs ejes nav-justified">
			    {% for eje in lista_eje  %}
			        <li {% if forloop.first %} class="active" {% endif %} >

			           <a href="#{{ eje.id }}" data-toggle="tab">
			              <div class="imagen-tab"><img class="icono-tab"src="{{eje.imagen.url}}"></div> 
			              {{eje.nombre}} 
<!--			              <span class="badge">{{eje.total_aprobado}} /{{eje.total}} </span> -->

						</a>
			        </li>
			    {% endfor %}
			    </ul>

			{% endif %}


          <div id="myTabContent" class="tab-content">


 <a href="javascript:void(0)" class="btn btn-raised btn-sm  toggle-logrado">Mostrar No Logrados</a>
                            <a href="javascript:void(0)" class="btn btn-raised btn-sm  toggle-nologrado">Mostar Logrados</a>

          	{% if lista_eje %}

          	{% for eje in lista_eje  %}
          		
          				
          						<div class="tab-pane fade {% if forloop.first %} active in {% endif %} " id="{{eje.id}}">
          								<table class="table table-striped table-hover ">
                           
                                          <thead>
	                                          <tr>
	                                           <!-- <th >#</th> -->
	                                            <th>Pregunta</th>
	                                            <th >Logrado?</th>
	                                           
	                                          </tr>
                                          </thead>
                                          <tbody>




                                          	{% for pregunta in lista_pregunta %}

                                         {% if pregunta.eje == eje %}

                                          <tr 

                                            {% if pregunta.estado == "Aprobado" %}
                                                      class="success {{ pregunta.anio| date:'Y'}}"
                                                  {% elif pregunta.estado == "No aprobado" %}
                                                      class="danger {{ pregunta.anio| date:'Y'}}"
                                                  {% else %}
                                                      remove
                                                  {% endif %}



                                          >
                                          <!--  <td>{{forloop.counter }}</td> -->
                                            <td> <p><b>{{pregunta.pregunta | lower}}</b> </p>
                                            	<p> {{pregunta.respuesta |safe }} </p>
                                              
                                            </td>
                                           

                                              <td class="estado">

                                              <i class="material-icons">
                                                  {% if pregunta.estado == "Aprobado" %}
                                                      done
                                                  {% elif pregunta.estado == "No aprobado" %}
                                                      clear
                                                  {% else %}
                                                      remove
                                                  {% endif %}
                                              </i>

                                               {% if pregunta.articulos.all  %}

                                                {% for articulo in pregunta.articulos.all %}
                                                         <a href="/articulo/{{ articulo.link }}/" class="btn btn-raised btn-primary btn-xs"> Ver Detalles 
                                                 
                                              </a>
                                                  {% endfor %}
                                             
                                              {% endif %}
                                            </td>

                                            
                                          </tr>
                                           {% endif %}

    
                                          {% endfor %}
                                         
                                         
                                          </tbody>
                                        </table>
          						</div>


          				

          		
          	{% endfor %}
          	{% endif %}

           
            
          </div>

          </div>
      </div>  

      <hr>
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-8">
          <h2>¿Quiénes somos?</h2>
          <p>El Centro de Información y Recursos para el Desarrollo, CIRD (www.cird.org.py) es una fundación comunitaria que trabaja desde el año 1988 con el fin de apoyar a las organizaciones de la sociedad civil, en acciones que apuntan a propiciar la participación ciudadana en el proceso de la toma de decisión pública, para fomentar un cambio positivo y sostenido en el país.
          </p>

          <p>
              El área de comunicación del CIRD inició desde el año 2006 <b>"A Quiénes Elegimos"</b>, un proyecto de transparencia electoral enfocado a generar información para la ciudadanía sobre los candidatos a las elecciones municipales. Este proyecto extendió su trabajo durante estos años con el objetivo también de realizar un seguimiento a las autoridades electas y designadas de diferentes Poderes del Estado.
Con esta iniciativa buscamos generar mayor acceso a la información pública por parte de la ciudadanía, fortalecer el proceso democrático en Paraguay y promover el voto informado. La transparencia y la responsabilidad en el ejercicio de la función pública son pilares fundamentales de la democracia.
“A Quiénes Elegimos” pone a disposición un Banco de Datos de carácter público donde los ciudadanos pueden informarse acerca de los candidatos y autoridades electas y designadas, sus trayectorias y propuestas con el objetivo de realizar un seguimiento del cumplimento de las promesas electorales.

          </p>  

          <p>
                A quiénes elegimos es impulsado actualmente por:

                <ul>

                  <li><a href="">Fundación CIRD</a></li>
                  <li><a href="">reAcción</a></li>
                  <li>Con la cooperación de:<br>
 <a href="">Fundación Nacional para la Democracia (NED)</a></li>
                </ul>


          </p>
        
        </div>
       
        <div class="col-md-4">
          <h2>¿Quién más nos ayuda?</h2>
          <h4>Asuncion</h4>
          <ul>
             
             <li>Fundación Saraki</li>
             <li> Red Paraguaya por Ciudades Sustentables</li>
             <li>  Enfoque Niñez Lazos para Crecer</li>
             <li> Incubadora de Líderes (INLID)</li>
             <li> Observatorio de Veeduría y Control Ciudadano (FEDEM – Tierra Nueva)</li> 
     
      
      
 
      

          </ul>

          <h4>Ciudad del Este</h4>
          <ul>
            
 
              <li> Asociación de Impedidos Físicos del Alto Paraná (AIFAP)</li>
              <li> Alianza Impulsora de Gobierno Abierto (AIGA)  </li>
              <li>Fundación Dequení.</li>

          </ul> 
        
        </div>
      </div>


{% endblock %}




    {% block footer %}




       <script src="{% static 'js/underscore.min.js' %}"></script>
     <script src="{% static 'js/d3.min.js' %}"></script>


    <!--- El Purete treemap2-->

<script type="text/javascript">

anio = {{ anio }}
 



 function removePopovers () {
          $('.popover').each(function() {
            $(this).remove();
          }); 
        }

        function showPopover (d) {
          $(this).popover({
            placement: 'auto top',
            container: 'body',
            trigger: 'manual',
            html : true,
            content: function() { 
            //  console.log(d);
              return "<h5>"+ d.parent.name+"</h5><hr><br/> <b> " + d.name + 
                    "</b><br/><b>Monto:</b> Gs. " + formatNumber(d.value); ; 
            }
          });
          $(this).popover('show')
        }





    $( "#sel2" ).change(function(){


$("#treemap .depth").remove();
Treemap($('#sel2 option:selected').text());
   


   $(".rubro").click( function(){

 

   }  )


   
});


    

</script>



        <script src="{% static 'js/treemap-programa.js' %}"></script>

 <script type="text/javascript">
$( document ).ready(function() {

Treemap2("2015","presupuesto_programa_2017", "#treemap");  

$(".programa").click(function(){
    console.log("programa");
    $("#treemap").html("");
      Treemap2("2015","presupuesto_programa_2017", "#treemap");   
   
  });

$(".funcion").click(function(){
    console.log("funcion");
    $("#treemap").html("");
 Treemap2("2015","presupuesto_funcion", "#treemap");   
   
  });

  $(".rubro").click(function(){
    console.log("rubro");
    $("#treemap").html("");
     Treemap2("2015","presupuesto_rubro_2017", "#treemap");  
   
  })
});



 </script>




      {% endblock %}