
{% extends "base.html" %}
{% load staticfiles %}
{% block content%}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=415575505224647";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<style type="text/css">

.interna .nav-tabs {
    background: #FFFFFF;
}
</style>
   
    <div class="container interna">

    <div class="row">

		<div class="col-md-12">
				<div class="panel panel-danger">

					<div class="panel-heading"><h1>{{articulo.titulo}}</h1> </div>
				 	<div class="panel-body">
				    

				     
				     		 		{{articulo.contenido|safe}}



				     		 		<hr>

				     		 		<h3>Responsables de la investigación</h3>

				     		 		
				     		 		{% for responsable in pregunta.responsables.all  %}

								     		 	<div class="col-md-3">
								     		 		<div class="row">
								     		 			<b>{{responsable.nombre}}</b>
								     		 			<div class="col-md-6">
								     		 				<img src="{{responsable.logo.url}}" style="width:100px;">
								     		 			</div>

								     		 			<div class="col-md-6">
								     		 				<div class="row">{{responsable.descripcion|safe}}</div>
								     		 				
								     		 			</div>

								     		 		</div>
								     		 		
								     		 		
								     		 		
								     		 		
								     		 		
								     		 	</div>

				     		 		
				     		 		{% endfor %}
				     		 	
          		

				     		 		
				     		 		


							<div class="fb-comments" data-width="100%"data-href="http://aquieneselegimos.org.py" data-numposts="5"></div>

				  </div>
				</div>

		</div>	


		

    </div>
     </div>


         

      

     

     {% endblock %}