


{% extends "base.html" %}
{% load staticfiles %}

{% block meta-tags%}
	<meta property="og:url"           content="http://monitoreo.aquieneselegimos.org.py/articulos/{{articulo.link}}" />
	<meta property="og:type"          content="article" />
	<meta property="og:title"         content="Monitorieo - {{articulo.titulo|striptags}}" />
	<meta property="og:description"   content="{{articulo.contenido|truncatechars:255}}" />
	<meta property="og:image"         content="{{pregunta.eje.imagen_destacada.url}}" />
	<meta property="og:author"         content="https://www.facebook.com/aquieneselegimos/" />



{% endblock %}

{% block bodybegin %}

     	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=415575505224647";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}
{% block content%}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=415575505224647";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<style type="text/css">

.interna  .panel-heading {

background: url("{{pregunta.eje.imagen}}");

}

.interna  .panel.panel-danger > .panel-heading {
  background: url("{{pregunta.eje.imagen_destacada.url}}");
  height: 250px;
    padding: 153px 0px 0px 40px;
    background-size: cover;
}



</style>
   
    <div class="container interna">

    <div class="row">

		<div class="col-md-12">
				<div class="panel panel-danger">			
					<h1 style='padding: 37px 17px;padding-bottom: 0px;'>Metodología </h1>

				
				 	<div class="panel-body">
				    
				 			<div class="contenido">

				 				<p>La Fundación CIRD (Centro de Información y Recurso para el Desarrollo) y la organización reAcción “Responsabilidad en Acción” de Ciudad del Este se encuentran actualmente desarrollando el proyecto “A Quiénes Elegimos”. </p>

				 				<p>A partir de los resultados de las elecciones municipales del 2015 nos abocamos a realizar un monitoreo a los municipios de Asunción y Ciudad del Este, en alianza con las siguientes Organizaciones de la Sociedad Civil:</p>

				 				<ul>
				 					<li>Fundación Saraki</li>
				 					<li>Red Ciudadana por Ciudades Sustentables</li>
				 					<li>Enfoque Niñez</li>
				 					<li>Observatorio de Control y Veeduría Ciudadana</li>
				 					<li>Incubadora de Líderes (INLID)</li>
				 					<li>Alianza Impulsora de Gobierno Abierto (AIGA)</li>
				 					<li>Asociación de Incapacitados Físicos de Alto Paraná (AIFAP)</li>
				 					<li>Fundación Dequení</li>

				 				</ul>
				 				<p>El objetivo es hacer un seguimiento de los primeros días de Gobierno Municipal para tener una línea de base sobre los siguientes ejes: </p>
				 				<ul>
				 					<li>Discapacidad</li>
				 					<li>Ciudad</li>
				 					<li>Niñez y adolescencia</li>
				 					<li>Educación</li>
				 					<li>Gobierno abierto</li>

				 				</ul>

				 				<p>Mediante un cuestionario aplicado a las autoridades con preguntas se procede a recabar información sobre el estado de los municipios con respecto a los 5 ejes mencionados, con el objetivo de establecer una línea de base sobre el cual realizar un diagnóstico que pueda servir a las autoridades municipales en encarar correctamente las políticas públicas. </p>

				 				<p>Dentro de cada eje se pregunta por los planes o proyectos y el estado en que se encuentran, si se cumple con la legislación existente, si tienen recursos asignados y si se han contratado a empresas o consultores.</p>

				 				<p>La elaboración de la herramienta de recolección de datos se realiza en colaboración con las Organizaciones Sociales referentes en cada eje así como el seguimiento. Se pedirá documentos que avalen las respuestas y el estado de los planes o proyectos, así como toda información pública que se considere necesaria para la corroboración del estado de los planes/proyectos, pudiendo inclusive visitar y verificar el área de implementación.</p>

				 				<p>El procedimiento para la adjudicación de Logrado/No Logrado se realiza a través de tres pasos</p>

				 				<p><strong>1. Preguntas:</strong> Se elabora una pregunta en conjunto con una organización que tiene trayectoria trabajando en el área de cada eje, desde las inquietudes propias desde la Sociedad Civil.</p>
				 				<p><strong>2. Respuestas: </strong>La Municipalidad designa a un vocero que emitirá las respuestas oficiales acerca de las preguntas planteadas dentro de cada eje</p>
				 				<p><strong>3. Verificación: </strong>Se procede a la verificación a través de la adquisición de un documento, resolución, minuta, ordenanza u otra evidencia que respalde la respuesta emitida lo que le da credibilidad al monitoreo.  </p>

				 				<p>Luego de completados estos pasos se procede a la calificación de Logrado/No Logrado en cada pregunta, de manera a constatar la situación de la municipalidad. A partir de esta Línea de Base la municipalidad podrá realizar un examen exhaustivo de los servicios ofrecidos por la Comuna en estos 5 ejes claves para el bienestar de los ciudadanos.</p>
				     
				     		</div>


				     		 		<hr>

				     		 		
				     		 	
          		

				     		 		
				     		 		


							<div class="fb-comments" data-width="100%"data-href="http://aquieneselegimos.org.py" data-numposts="5"></div>

				  </div>
				</div>

		</div>	


		

    </div>
     </div>


         

      

     

     {% endblock %}