


{% extends "base.html" %}
{% load staticfiles %}

{% block meta-tags%}
	<meta property="og:url"           content="http://monitoreo.aquieneselegimos.org.py/articulos/{{articulo.link}}" />
	<meta property="og:type"          content="article" />
	<meta property="og:title"         content="Monitorieo - {{articulo.titulo|striptags}}" />
	<meta property="og:description"   content="{{articulo.contenido|truncatechars:255}}" />
	<meta property="og:image"         content="{{pregunta.eje.imagen_destacada.url}}" />
	<meta property="og:author"         content="https://www.facebook.com/aquieneselegimos/" />



{% endblock %}

{% block bodybegin %}

     	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=415575505224647";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}
{% block content%}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=415575505224647";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<style type="text/css">

.interna  .panel-heading {

background: url("{{pregunta.eje.imagen}}");

}

.interna  .panel.panel-danger > .panel-heading {
  background: url("{{pregunta.eje.imagen_destacada.url}}");
  height: 250px;
    padding: 153px 0px 0px 40px;
    background-size: cover;
}



</style>
   
    <div class="container interna">

    <div class="row">

		<div class="col-md-12">
				<div class="panel panel-danger">			
					<h1 style='padding: 37px 17px;padding-bottom: 0px;'>Iniciativa A Quienes Elegimos </h1>

				
				 	<div class="panel-body">
				    
				 			<div class="contenido">
				     
				     		 		<p>La Fundaci&oacute;n CIRD (Centro de Informaci&oacute;n y Recursos para el Desarrollo), uno de cuyos objetivos es generar informaci&oacute;n c&iacute;vica y acci&oacute;n colectiva para el fortalecimiento de las pr&aacute;cticas democr&aacute;ticas, desde hacer varios a&ntilde;os desarrolla el Proyecto &ldquo;A Qui&eacute;nes Elegimos&rdquo;, con la cooperaci&oacute;n del Fondo Nacional para la Democracia (NED). Actualmente esta etapa del proyecto se desarrolla con la organizaci&oacute;n &ldquo;reAcci&oacute;n&rdquo; (responsabilidad en Acci&oacute;n) de Ciudad del Este.</p>

<p>Esta iniciativa trabaja buscando utilizar las herramientas tecnol&oacute;gicas para ofrecer a la ciudadan&iacute;a la mayor cantidad posible de informaci&oacute;n sobre las autoridades de los 3 poderes del Estado y los gobiernos locales y departamentales, y facilitando espacios de debate y rendici&oacute;n de cuentas entre autoridades y ciudadanos.</p>

<p>Este proyecto de transparencia electoral naci&oacute; en el a&ntilde;o 2006 enfocado a generar informaci&oacute;n para la ciudadan&iacute;a sobre los candidatos a las elecciones, fortaleci&eacute;ndose posteriormente a una encuesta que hicimos en aquel a&ntilde;o y que arroj&oacute; como principal resultado que la gente votaba por intuici&oacute;n o por el partido sin conocer las propuestas. Con esta iniciativa buscamos generar mayor acceso a la informaci&oacute;n p&uacute;blica por parte de la ciudadan&iacute;a, fortalecer el proceso democr&aacute;tico en Paraguay y promover el voto informado.</p>

<p>El proyecto AQE se caracteriza por ser un banco de datos de autoridades electas y designadas as&iacute; como un canal v&aacute;lido para la participaci&oacute;n p&uacute;blica en el dialogo democr&aacute;tico. Tambi&eacute;n nos abocamos a promover y fortalecer el acceso a la informaci&oacute;n p&uacute;blica as&iacute; como fomentar el debate social en torno a las pol&iacute;ticas p&uacute;blicas del Gobierno.</p>

<h2>Principales actividades</h2> 

<p><strong>Sondeo Nacional de Autoridades</strong></p>

<p>El Proyecto busca entrevistar a autoridades de m&aacute;s de 90 instituciones p&uacute;blicas del Poder Ejecutivo, 125 legisladores, 17 Gobernadores y 18 parlamentarios del MERCOSUR en base a un cuestionario que incluye preguntas sobre su informaci&oacute;n personal, trayectoria acad&eacute;mica, profesional, social y pol&iacute;tica; propuestas para el cargo en el que se desempe&ntilde;a, preguntas de opini&oacute;n sobre pol&iacute;ticas p&uacute;blicas, bienes econ&oacute;micos, antecedentes judiciales, etc.</p>

<p>Estos datos ser&aacute;n publicados en el sitio web <a href="http://www.aquieneselegimos.org.py">www.aquieneselegimos.org.py</a>, con el objetivo de promover la informaci&oacute;n p&uacute;blica y el conocimiento sobre el perfil de las autoridades electas y designadas. De esta forma, el ciudadano tendr&aacute; acceso en forma permanente a informaci&oacute;n que muchas veces no se encuentra en un solo lugar, adem&aacute;s de ofrecer a investigadores estos datos para estudios sobre algunos temas referentes a la conducci&oacute;n pol&iacute;tica del pa&iacute;s.</p>

<p><strong>Debates y conversatorios con autoridades</strong></p>

<p>Creemos en la necesidad de acercar a las autoridades con la ciudadan&iacute;a. Es por eso que planteamos y organizamos encuentros entre autoridades y ciudadanos, para que las autoridades puedan rendir cuentas sobre su gesti&oacute;n y para que los ciudadanos puedan informarse y realizar las preguntas que consideren pertinentes para ejercer una de las formas de su ciudadan&iacute;a.</p>

<p><strong>Talleres de capacitaci&oacute;n para asesores de autoridades y ciudadan&iacute;a en general.</strong></p>

<p>Mejorar el v&iacute;nculo entre la ciudadan&iacute;a y las autoridades implica tambi&eacute;n un proceso de aprendizaje en cuanto a c&oacute;mo hacerlo, adem&aacute;s de adquirir conocimiento sobre diversos temas de inter&eacute;s nacional. Es por eso que como parte de esta iniciativa organizamos talleres y capacitaciones sobre distintos temas relacionados a la transparencia (ley de acceso a la informaci&oacute;n p&uacute;blica), rendici&oacute;n de cuenta y participaci&oacute;n ciudadana.</p>

<p><strong>Encuesta ciudadana &ldquo;Qu&eacute; Quiere la Gente&rdquo;.</strong></p>

<p>La encuesta se realiz&oacute; en los a&ntilde;os 2008 &ndash; 2010 &ndash; 2011 &ndash; 2013 &ndash; 2014 &ndash; 2015. Tiene como objetivo central promover la participaci&oacute;n efectiva de la ciudadan&iacute;a en los procesos democr&aacute;ticos, lo cual, implica el involucramiento de la gente en la identificaci&oacute;n y discusi&oacute;n de los principales temas de inter&eacute;s en cuanto a pol&iacute;ticas p&uacute;blicas locales y nacionales.</p>

<p>Se busca visibilizar la figura del ciudadano, relevando sus principales demandas y sus percepciones acerca del actuar de las autoridades, con el fin de recordar la importancia de su participaci&oacute;n activa para dotar de contenido a la democracia.</p>

<p><strong>&iquest;</strong><strong>C&oacute;mo trabajamos en las elecciones</strong><strong>?</strong></p>

<p>Para las Elecciones Municipales del 2015 realizamos lo que denominamos &lsquo;Sondeo de Candidatos&rsquo;, en el cual entrevistamos a candidatos a la intendencia y a quienes encabezan las listas de concejales de todos los movimientos y partidos de las siguientes ciudades: Asunci&oacute;n, Central; Lambar&eacute;, San Lorenzo, Fernando de la Mora, Luque, Alto Paran&aacute;; Ciudad del Este, Hernandarias y Presidente Franco.</p>

<p>Trabajamos en estas ciudades porque en Asunci&oacute;n, y los departamentos de Central y Alto Paran&aacute; se registra casi el 48% de todos los ciudadanos del pa&iacute;s habilitados para votar (empadronados). Adem&aacute;s, es importante notar que juntos representaron el 49% de los sufragantes de la naci&oacute;n en las &uacute;ltimas elecciones presidenciales 2013 (Memoria y Estad&iacute;stica Electoral 2013, TSJE).</p>

<p>Las entrevistas las realizamos con un cuestionario que tiene diversas preguntas sobre trayectoria acad&eacute;mica, profesional, pol&iacute;tica, propuestas y opiniones sobre varios temas.</p>

<p>Una vez que terminamos de relevar todos estos datos subimos la informaci&oacute;n a nuestra plataforma virtual <a href="http://www.aquieneselegimos.org.py">www.aquieneselegimos.org.py</a>, en donde la ciudadan&iacute;a puede acceder de manera p&uacute;blica y gratuita a leer los perfiles de candidatos.</p>

<p>Es importante tener en cuenta que las respuestas a este sondeo por parte de los candidatos son totalmente voluntarias, pero definitivamente el que respondan demuestra si realmente est&aacute;n abiertos a consultas de la ciudadan&iacute;a y a brindar datos.</p>

<p>Tambi&eacute;n generamos espacios de debates, entrevistas videograbadas y otras numerosas actividades que fomentan la participaci&oacute;n ciudadana en este contexto electoral.</p>

<p><strong>&iquest;</strong><strong>Cu&aacute;l es la importancia de A Qui&eacute;nes Elegimos</strong><strong>?</strong></p>

<p>Apostamos a los ciudadanos y ciudadanas: Nuestra meta es que quienes hacen el ejercicio del sufragio conozcan a los candidatos y sepan qu&eacute; proponen u opinan en relaci&oacute;n a temas de inter&eacute;s general.</p>

<p>Es un mecanismo para exigir rendici&oacute;n de cuentas: los candidatos y las candidatas que ganen la contienda electoral, deber&aacute;n rendir cuentas sobre lo que respondieron en el marco de la iniciativa a trav&eacute;s de seguimientos a la gesti&oacute;n administrativa.</p>

<p>Es una plataforma imparcial: las organizaciones que llevan adelante la iniciativa tienen reconocida trayectoria en el sector de sociedad civil, y las personas que integran el proyecto si bien pueden tener preferencias pol&iacute;ticas personales no trabajan ni alientan a sector alguno.</p>

<p>Nos permite conocer qu&eacute; candidatos no son abiertos a consultas ciudadanas: Uno puede optar por no responder, lo que respetamos; pero en el proceso conocemos tambi&eacute;n a aquellos candidatos que no s&oacute;lo no quieren responder, sino tambi&eacute;n qui&eacute;nes de ninguna forma establecen mecanismos para fortalecer v&iacute;nculos con los ciudadanos.</p>

<p>Ayuda a fortalecer nuestra democracia: de la mejor forma, promoviendo una ciudadan&iacute;a informada y responsable.</p>
				     		</div>


				     		 		<hr>

				     		 		
				     		 	
          		

				     		 		
				     		 		


							<div class="fb-comments" data-width="100%"data-href="http://aquieneselegimos.org.py" data-numposts="5"></div>

				  </div>
				</div>

		</div>	


		

    </div>
     </div>


         

      

     

     {% endblock %}